* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/Морской/scr/img/главный.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    left: calc(50% - 370px/2);
}

.img {
    position: static;
    width: 340px;
    height: 320px;
    left: 15px;
    top: 15px;
    flex: none;
}

.btn_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 370px;
    left: 0px;
    top: 370px; 
    margin: 50px 0;
}

.btn-primary {
    padding: 10px 20px;
    position: static;
    width: 370px;
    height: 44px;
    left: calc(50% - 370px/2);
    top: calc(50% - 44px/2 - 74px);
    background: #0c60fc;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px 0px 30px 0px

}

.btn-secondary {
    position: static;
    width: 370px;
    height: 44px;
    left: calc(50% - 370px/2);
    top: calc(50% - 44px/2);
    background: #EFF1F3;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0px 0px 30px 0px
}