.btn-primary {
    padding: 10px 20px;
    position: static;
    width: 370px;
    height: 44px;
    left: calc(50% - 370px/2);
    top: calc(50% - 44px/2 - 74px);
    background: #000000;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px 0px 30px 0px;
}