* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFF1F3;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 599px;
    left: 0px;
    top: 6.5px;
}

section.main a {
    position: static;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 38px;
    margin: 0 453px 0 0;
}

section.main img.fish {
    position: static;
    width: 114px;
    height: 108px;
    left: 485px;
    top: 0px;
}

section.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    position: static;
    width: 216px;
    height: 32px;
    left: 954px;
    top: 44.5px;
    margin: 0 0 0 355px;
}

section.menu img {
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
}

section.menu a.vop, a.shest {
    margin: 0 60px 0 0;
}
    

