* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFF1F3;
    min-width: 1170px;
    max-width: 1900px;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin: 10px 75px 50px 135px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.main_logo {
    position: static;
    width: 114px;
    height: 108px;
    left: 485px;
    top: 0px;
}

span {
    margin: 0 60px 0 0;
}

.main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 135px 0 0px;
}

.table {
    margin: 0 0 0 135px;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid #000000;
}

.table_item {
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid #000000;
} 

.main_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 95px 0 95px 130px;
}

.btn_next {
    max-width: 370px;
    min-width: 320px;
    height: 44px;
    background: #EFF1F3;
    border: 2px solid #000000;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.arrangement {
    min-width: 320px;
    max-width: 370px;
    border: 1px solid #000000;
    border-radius: 6px;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 60px;
}

.ships {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ships_w {
    margin: 20px 30px 10px 20px;

}

.ships_t {
    margin: 20px 30px 10px 20px;

}

.ships_th {
    margin: 20px 30px 10px 20px;

}

.ships_f {
    margin: 20px 30px 30px 20px;

}

.line {
    border-left: 1px solid #000000;
    height: 268px;
    left: 242px;
    }

.btn_number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.wone {
    padding: 4px 11px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px 15px 10px 10px;
}

.two {
    padding: 4px 11px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px 15px 10px 10px;
}

.three {
    padding: 4px 11px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px 15px 10px 10px;
}

.four{
    padding: 4px 11px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px 15px 10px 10px;
}

.final_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    align-content: start;
    width: 324px;
}

.top {
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 15px;
}

.right {
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 30px;
}

.auto {
    min-width: 210px;
    max-width: 370px;
    height: 44px;
    background: #EFF1F3;
    border: 2px solid #000000;
    border-radius: 6px;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin: 50px 135px 0 135px;
}

.main_footer {
    width: 1170px;
}

.info {
    position: static;
    width: 254px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.support {
    position: static;
    width: 41px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
}