* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFF1F3;
    min-width: 1170px;
    max-width: 1900px;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin: 10px 135px 50px 135px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.main_logo {
    position: static;
    width: 114px;
    height: 108px;
    left: 485px;
    top: 0px;
}

span {
    margin: 0 60px 0 0;
}

section.full_game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1170px;
    height: 683px;
    left: 0px;
    top: 171px; 
    margin: 50px 135px 50px 135px; 
    
}

.playing_filed {
    position: static;
    
    height: 683px;
    left: 0px;
    top: 0px;
    margin: 0px 130px 0 0; 
}

section.alignment_filed {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: static;
    width: 370px;
    height: 493px;
    left: 800px;
    top: 95px; 
}

button.btn {
    background: #EFF1F3;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    height: 44px;
    margin: 0 0 60px 0;
}

section.ships {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 270px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px; 
}

.ships_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 212px;
    height: 218px;
    left: 0px;
    top: 25px;
}

.table {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid #000000;
}

.table_item {
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid #000000;
}

section .container_full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 370px;
    height: 493px;
    left: 800px;
    top: 95px;
    margin: 0 135px 0 135px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 370px;
}

.block_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    width: 370px;
    height: 270px;
}

.block_info {
    display: flex;
flex-direction: row;
align-items: center;
position: static;
width: 303px;
height: 268px;
left: 21px;
top: 1px;
}

.block_img{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: static;
}

.block_footer_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
     position: static;
    width: 370px;
    height: 59px;
    left: 0px;
    top: 434px;
    margin: 60px 0px 0 0;
}

.btn_full {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 94.26px;
    height: 36.5px;
    top: 11.25px;
    margin: 0px 30px;
}

.auto_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 249px;
    height: 44px;
    background: #EFF1F3;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px 30px;
}

button {
    position: static;
    width: 39.63px;
    height: 36.5px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px 15px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 135px 0 135px;
}

.wone {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}

.two {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;



    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    letter-spacing: 0.14em;
color: #000000;
 margin: 0px 0px 0 778px;
}